anndata==0.11.3
array_api_compat==1.11.1
attrs==25.1.0
black==25.1.0
cfgv==3.4.0
click==8.1.8
distlib==0.3.9
exceptiongroup==1.2.2
filelock==3.20.1
h5py==3.13.0
identify==2.6.8
isort==6.0.1
mypy==1.15.0
mypy-extensions==1.0.0
natsort==8.4.0
nodeenv==1.9.1
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.2.240807
pathspec==0.12.1
platformdirs==4.3.6
pre_commit==4.1.0
pyarrow==19.0.1
pyarrow-hotfix==0.6
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
ruff==0.9.9
scipy==1.15.2
shapely==2.0.7
six==1.17.0
tomli==2.2.1
types-pytz==2025.1.0.20250204
typing_extensions==4.12.2
tzdata==2025.1
virtualenv==20.29.2
