anndata==0.9.1
attrs==23.1.0
cloudpickle==2.2.1
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
h5py==3.9.0
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.7.1
natsort==8.4.0
networkx==3.1
numba==0.56.4
numpy==1.23.5
packaging==23.1
pandas==1.5.3
patsy==0.5.3
Pillow==9.5.0
pyarrow==12.0.1
pyarrow-hotfix==0.6
pynndescent==0.5.10
python-dateutil==2.8.2
pytz==2024.1
scanpy==1.9.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
session-info==1.0.0
six==1.16.0
statsmodels==0.14.0
stdlib-list==0.9.0
tblib==1.7.0
threadpoolctl==3.1.0
tqdm==4.65.0
typing_extensions==4.6.3
umap-learn==0.5.3
