anndata==0.9.2
attrs==23.2.0
black==24.4.2
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.15.1
h5py==3.11.0
identify==2.5.36
importlib_metadata==7.1.0
isort==5.13.2
llvmlite==0.41.1
mypy==1.10.0
mypy-extensions==1.0.0
natsort==8.4.0
nodeenv==1.9.1
numba==0.58.1
numpy==1.24.4
packaging==24.1
pandas==2.0.3
pandas-stubs==2.0.3.230814
pathspec==0.12.1
platformdirs==4.2.2
pre-commit==3.5.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
ruff==0.4.9
scipy==1.10.1
shapely==2.0.4
six==1.16.0
tomli==2.0.1
types-pytz==2024.1.0.20240417
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.2
zipp==3.19.2
