anndata==0.11.3
array_api_compat==1.11.1
attrs==25.1.0
h5py==3.13.0
natsort==8.4.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pyarrow==19.0.1
pyarrow-hotfix==0.6
python-dateutil==2.9.0.post0
pytz==2025.1
scipy==1.15.2
shapely==2.0.7
six==1.17.0
typing_extensions==4.12.2
tzdata==2025.1
